In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.5.3
1.24.4

In [4]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
     ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
     ------------------------- ------------ 194.6/294.9 kB 3.9 MB/s eta 0:00:01
     ------------------------------------ - 286.7/294.9 kB 2.9 MB/s eta 0:00:01
     -------------------------------------- 294.9/294.9 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from seaborn) (1.24.4)
Collecting matplotlib!=3.6.1,>=3.4
  Downloading matplotlib-3.10.1-cp310-cp310-win_amd64.whl (8.1 MB)
     ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
     - -------------------------------------- 0.3/8.1 MB 8.9 MB/s eta 0:00:01
     -- ------------------------------------- 0.6/8.1 MB 7.5 MB/s eta 0:00:01
     ---- ----------------------------------- 0.9/8.1 MB 7.1 MB/s eta 0:00:02
     ----- ---------------------------------- 1.2/8.1 MB 7.4 MB/s eta 0:00:01
     -------- ------------------------------- 1.6/8.1 MB 8.1 MB/s eta 0:00:01
     ---------- ----------------------------- 2.2/8.1 MB 8.2 MB/s eta 0:00:01
     ------------- -------------------------- 2.7/8.1 MB 8.5 MB/s eta 0:00:01
     -------------- ------------------------- 3.0/8.1 MB 8.2 MB/s eta 0:00:01
     ---------------- ----------------------- 3.4/8.1 MB 8.6 MB/s eta 0:00:01
     ------------------ --------------------- 3.7/8.1 MB 8.4 MB/s eta 0:00:01
     -------------------- ------------------- 4.2/8.1 MB 8.6 MB/s eta 0:00:01
     ----------------------- ---------------- 4.7/8.1 MB 8.6 MB/s eta 0:00:01
     ------------------------- -------------- 5.1/8.1 MB 8.5 MB/s eta 0:00:01
     ---------------------------- ----------- 5.7/8.1 MB 9.0 MB/s eta 0:00:01
     ---------------------------- ----------- 5.8/8.1 MB 8.8 MB/s eta 0:00:01
     ------------------------------- -------- 6.3/8.1 MB 8.9 MB/s eta 0:00:01
     --------------------------------- ------ 6.6/8.1 MB 8.7 MB/s eta 0:00:01
     ----------------------------------- ---- 7.1/8.1 MB 8.8 MB/s eta 0:00:01
     -------------------------------------- - 7.7/8.1 MB 9.0 MB/s eta 0:00:01
     ---------------------------------------  8.0/8.1 MB 8.6 MB/s eta 0:00:01
     ---------------------------------------- 8.1/8.1 MB 8.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
     ---------------------------------------- 0.0/111.1 kB ? eta -:--:--
     ---------------------------------------- 111.1/111.1 kB ? eta 0:00:00
Collecting kiwisolver>=1.3.1
  Downloading kiwisolver-1.4.8-cp310-cp310-win_amd64.whl (71 kB)
     ---------------------------------------- 0.0/71.9 kB ? eta -:--:--
     ---------------------------------------- 71.9/71.9 kB 3.9 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Collecting pillow>=8
  Downloading pillow-11.2.1-cp310-cp310-win_amd64.whl (2.7 MB)
     ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
     ----- ---------------------------------- 0.3/2.7 MB 10.2 MB/s eta 0:00:01
     ------ --------------------------------- 0.4/2.7 MB 3.6 MB/s eta 0:00:01
     ---------------- ----------------------- 1.1/2.7 MB 7.6 MB/s eta 0:00:01
     --------------------- ------------------ 1.4/2.7 MB 7.6 MB/s eta 0:00:01
     ----------------------- ---------------- 1.5/2.7 MB 6.5 MB/s eta 0:00:01
     ---------------------------- ----------- 1.9/2.7 MB 6.7 MB/s eta 0:00:01
     --------------------------------- ------ 2.2/2.7 MB 6.7 MB/s eta 0:00:01
     -------------------------------------- - 2.5/2.7 MB 6.8 MB/s eta 0:00:01
     ---------------------------------------- 2.7/2.7 MB 6.3 MB/s eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.57.0-cp310-cp310-win_amd64.whl (2.2 MB)
     ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
     -------- ------------------------------- 0.5/2.2 MB 14.5 MB/s eta 0:00:01
     -------------- ------------------------- 0.8/2.2 MB 12.9 MB/s eta 0:00:01
     ------------------------ --------------- 1.3/2.2 MB 10.6 MB/s eta 0:00:01
     ------------------------------- -------- 1.8/2.2 MB 10.2 MB/s eta 0:00:01
     ---------------------------------- ----- 1.9/2.2 MB 8.6 MB/s eta 0:00:01
     ---------------------------------------  2.2/2.2 MB 8.3 MB/s eta 0:00:01
     ---------------------------------------- 2.2/2.2 MB 7.4 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.3.1-cp310-cp310-win_amd64.whl (218 kB)
     ---------------------------------------- 0.0/218.6 kB ? eta -:--:--
     ------------------------------------- 218.6/218.6 kB 13.9 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.57.0 kiwisolver-1.4.8 matplotlib-3.10.1 pillow-11.2.1 pyparsing-3.2.3 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("sales.csv")
df.head()

   Order ID Region  Product    Category  Sales (£)  Quantity      Supplier
0      1001  North   Laptop  Technology       1200         2      TechCorp
1      1004   West     Desk   Furniture        920         2   \tfficeMate
2      1002  South    Chair   Furniture        850         5  \tOfficeMate
3      1003   East  Monitor  Technology        600         3    \tOiceMate
4      1006  South    Table   Furniture        500         4      TechCorp

Removes spaces from column names

In [59]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_')

In [66]:
df.head()

   order_id region  product    category  sales_(£)  quantity      supplier
0      1001  North   Laptop  Technology       1200         2      TechCorp
1      1004   West     Desk   Furniture        920         2   \tfficeMate
2      1002  South    Chair   Furniture        850         5  \tOfficeMate
3      1003   East  Monitor  Technology        600         3    \tOiceMate
4      1006  South    Table   Furniture        500         4      TechCorp

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   order_id   6 non-null      int64
 1   region     6 non-null      object
 2   product    6 non-null      object
 3   category   6 non-null      object
 4   sales_(£)  6 non-null      int64
 5   quantity   6 non-null      int64
 6   supplier   6 non-null      object
dtypes: int64(3), object(4)
memory usage: 464.0+ bytes

In [61]:
df.isnull().sum()

order_id     0
region       0
product      0
category     0
sales_(£)    0
quantity     0
supplier     0
dtype: int64

In [62]:
df.describe()

          order_id    sales_(£)   quantity
count     6.000000     6.000000   6.000000
mean   1003.500000   703.333333   4.333333
std       1.870829   366.969572   3.011091
min    1001.000000   150.000000   2.000000
25%    1002.250000   525.000000   2.250000
50%    1003.500000   725.000000   3.500000
75%    1004.750000   902.500000   4.750000
max    1006.000000  1200.000000  10.000000

In [ ]:
df['sales_(£)']

0    1200
1     920
2     850
3     600
4     500
5     150
Name: sales_(£), dtype: int64

Filter all orders from North region

In [67]:
df[df['region'] == 'North']

   order_id region product    category  sales_(£)  quantity  supplier
0      1001  North  Laptop  Technology       1200         2  TechCorp
5      1005  North   Mouse  Technology        150        10   TechCrp

Region South

In [68]:
df[df['region'] == 'South']

   order_id region product   category  sales_(£)  quantity      supplier
2      1002  South   Chair  Furniture        850         5  \tOfficeMate
4      1006  South   Table  Furniture        500         4      TechCorp

Group by

In [69]:
df.groupby('region')['sales_(£)'].sum()

region
East      600
North    1350
South    1350
West      920
Name: sales_(£), dtype: int64

Sorting Values by sales

In [71]:
df.sort_values(by='sales_(£)', ascending=False)

   order_id region  product    category  sales_(£)  quantity      supplier
0      1001  North   Laptop  Technology       1200         2      TechCorp
1      1004   West     Desk   Furniture        920         2   \tfficeMate
2      1002  South    Chair   Furniture        850         5  \tOfficeMate
3      1003   East  Monitor  Technology        600         3    \tOiceMate
4      1006  South    Table   Furniture        500         4      TechCorp
5      1005  North    Mouse  Technology        150        10       TechCrp

The most sold product was the Mouse with sales of 150

In [74]:
df.sort_values(by= 'quantity', ascending=False)

   order_id region  product    category  sales_(£)  quantity      supplier
5      1005  North    Mouse  Technology        150        10       TechCrp
2      1002  South    Chair   Furniture        850         5  \tOfficeMate
4      1006  South    Table   Furniture        500         4      TechCorp
3      1003   East  Monitor  Technology        600         3    \tOiceMate
0      1001  North   Laptop  Technology       1200         2      TechCorp
1      1004   West     Desk   Furniture        920         2   \tfficeMate